{% extends 'components/layout.html' %}

{% block title %}Studio Ghibli{% endblock title %}        

{% block content %}
<br>

<div class="card-group">
    <div class="card">
        <br>
        <center><img class="img-fluid" src="../../static/images/hayao.png" alt="Hayao Miyazaki" id="hayao" width="300px" height="auto"></center>
      <div class="card-body">
        <h5 class="card-title">Hayao Miyazaki</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Hayao Miyazaki, photographed in his studio in Tokyo<br> PHOTOGRAPH BY HIROJI KUBOTA, Vanity Fair</small></p>
      </div>
    </div>
    <div class="card">
        <br>
        <center><img class="img-fluid" src="../../static/images/younghayao.png" alt="Hayao Miyazaki-Young" id="hayao" width="300px" height="auto"></center>
      <div class="card-body">
          <br>
        <h5 class="card-title">Some Facts :)</h5>
        <p class="card-text"> Chief executive officer, Studio Ghibli
            <br>
            Nationality: Japanese.
            <br>
            Born: January 5, 1941, in Tokyo, Japan.
            <br>
            Education: Gakushuin University, BA, 1963.
            <br>
            Family: Son of Katsuji Miyazaki (aircraft-parts manufacturer); married Akemi Ota (animator); children: two.
            <br>
            Career: Toei Animation:
            <ol>
                <li>1963–1971, animator; A Pro</li>
                <li> 1971–1973, animator and director; Zuiyo Pictures</li>
                <li>1973–1978, animator and director; Tokyo Movie Shinsha</li>
                <li>1979–1982, director; Tokuma</li>
                <li>1982–1998, director; Studio Ghibli</li>
                <li>1985–1998, director and producer</li>
                <li>1999– CEO</li>
            </ol> </p>
        <p class="card-text"><small class="text-muted">Photograph by Japan Times</small></p>
      </div>
    </div>
    <div class="card">
        <br>
        <center><img class="img-fluid" src="../../static/images/hayaocollage.png" alt="Hayao Miyazaki-collage" id="hayao" width="400px" height="auto"></center>
      <div class="card-body">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <h5 class="card-title">Some more Facts ¯\_(ツ)_/¯</h5>
        <p class="card-text">The director, producer, animator, and storyteller Hayao Miyazaki was the leader of one of the most successful animated motion picture studios in the world, Studio Ghibli. 
            <br>The studio arose out of his success with the motion picture Nausicaä of the Valley of the Wind , and its continued success was wholly dependent on the motion pictures that he wrote and directed.
            <br>In the 1990s he created the most successful films in the history of Japan, setting numerous box-office records. 
            <br>While his films were already popular among anime enthusiasts worldwide, a distribution deal with Disney Studios in 1996 brought several of Miyazaki's works to broader audiences; he had established himself as an innovator and artist at least equal in stature to Walt Disney himself. 
            <br>As a leader Miyazaki attracted to his productions some of Japan's finest writers, artists, directors, and producers, as well as the outstanding composer Joe Hisaishi, whose scores for Miyazaki's films became classics themselves.</p>
        <p class="card-text"><small class="text-muted">Photograph from Google Images</small></p>
      </div>
    </div>
  </div>
</body>


{% endblock content %}